@{
    ViewBag.Title = "Learning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        hr {
            border-color: lightgray;
            border-width: 1px;
            padding-bottom: 50px;
        }

        .row {
            height: initial;
            /*margin: 30px 20px 0px 0px;*/
        }

        .link {
            color:blue;
        }

        #img {
            margin-top:30px;
        }
    </style>
    @*<script src="~/Scripts/jquery-3.1.1.min.js"></script>*@
    <script>
        $('#menu_learning').addClass('active');
    </script>
</head>
<body>
    <h1>
        Обучение слепому методу печати
    </h1>
    <p>
        В основу слепого набора положен тот факт, что за каждым пальцем закреплена своя постоянная зона клавиш, которую тот обслуживает. Весь процесс обучения сводится к тренировке "мышечной памяти" пальцев. Если заниматься регулярно (желательно 2-3 раза в день), то уже очень скоро можно будет хорошо печатать десятью пальцами, не глядя на клавиатуру.
    </p>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <img id="img" src="~/Content/images/Learning/seat.gif" />
        </div>
        <div class="col-md-9">
            <h3>
                Посадка
            </h3>
            <p>
                Сидеть желательно на стуле или вращающемся кресле со спинкой. Угол между позвоночником и бедром и между бедром и голенью должен составлять 90 градусов. Сидеть необходимо прямо, не нагибаясь и не наклоняя голову. Взгляд должен быть направлен вперед, в центр экрана монитора. Запястья не должны провисать. Расстояние от глаз до экрана монитора — от 40 до 70 сантиметров.
            </p>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-8">
            <h3>
                Исходная позиция пальцев
            </h3>
            <p>
                Пальцы в нерабочем состоянии должны находиться над буквами ФЫВА, ОЛДЖ основным рядом клавиатуры. Этот ряд называется основным потому, что он содержит буквы, которые наиболее часто встречаются при написании текстов.
                Для удобства на клавишах А и О, где расположены указательные пальцы, находятся небольшие выступы. Это позволяет ориентироваться на клавиатуре вслепую.
            </p>
        </div>
        <div class="col-md-4">
            <img id="img" src="~/Content/images/Learning/fingers1.gif" />
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-5">
            <img id="img" src="~/Content/images/Learning/fingers2.gif" />
        </div>
        <div class="col-md-7">
            <h3>
                Схема клавиатуры
            </h3>
            <p>
                Во время уроков на экране вы будете видеть схему клавиатуры, она поможет понимать, где находятся буквы, чтобы находить их пальцами не глядя на клавиатуру.
                <ul>
                    <li>Обязательно используйте только правильные пальцы для набора каждой из букв.</li>
                    <li>Всегда возвращайте пальцы в исходную позицию «ФЫВА — ОЛДЖ».</li>
                    <li>Набирая, представляйте себе расположение символа на клавиатуре.</li>
                    <li>На пробел нажимает большой палец той руки, которая противоположна последней «рабочей» руке.</li>
                </ul>
                Поначалу такой метод может показаться неудобным, но не останавливайтесь, со временем всё начнёт получаться быстро, легко и удобно.
            </p>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-9">
            <h3>
                Движение пальцев
            </h3>
            <p>
                При наборе текста перемещайте только пальцы. Взгляд должен быть направлен не на клавиатуру, а на экран.
                Набор текста производится вслепую!
                На развитие безымянных пальцев и мизинцев обеих рук следует обратить особое внимание, так как эти пальцы развиты значительно меньше остальных.
            </p>
        </div>
        <div class="col-md-3">
            <img id="img" src="~/Content/images/Learning/strip.jpg" />
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-3">
            <img id="img" src="~/Content/images/Learning/timer.png" />
        </div>
        <div class="col-md-9">
            <h3>
                Скорость печати
            </h3>
            <p>
                <ul>
                    <li>Сфокусируйте внимание, прежде всего, на качестве (вначале старайтесь набирать медленно, но без ошибок). Небольшая поначалу скорость со временем станет возрастать, а высокое качество печати сохранится.</li>
                    <li>Следите за ритмом, держите пальцы невысоко над клавиатурой.</li>
                    <li>Всегда сканируйте текст на одно-два слова вперёд.</li>
                </ul>
            </p>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-9">
            <h3>
                Берегите себя
            </h3>
            <p>
                Если вы стали замечать, что стали раздражительны, невнимательны, делаете много нелепых ошибок — это первый сигнал о перегрузке организма. Сделайте паузу.
            </p>
        </div>
        <div class="col-md-3">
            <img id="img" src="~/Content/images/Learning/rest.png" />
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <p id="img">
                А теперь, когда теория изучена, самое время
                
                @Html.ActionLink("перейти к практическому обучению", "", "", "", new { style = "color:blue" });

                
            </p>
        </div>
    </div>
</body>