@{
    ViewBag.Title = "Моя страница";
}
<head>
    <script>$('#personal_page').addClass('active');</script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Дата', 'Скорость, знаков в минуту', '% Ошибок'],
          ['01.02.2017',  200,      20],
          ['02.02.2017',  117,      22],
          ['03.02.2017',  210,      14],
          ['04.02.2017',  230,      18]
        ]);

        var options = {
          title: 'Мой график успеха',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
</head>
<body>
    <h1>Мой прогресс</h1>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
</body>




