@{
    ViewBag.Title = "Rating";
}
<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Имя');
        data.addColumn('number', 'Скорость набора');
        data.addColumn('number', 'Процент ошибок');
        data.addRows([
          ['Vadim_Z',  {v: 8, f: '240'}, 8],
          ['Jim',   {v: 15,   f: '210'},  15],
          ['Alice', {v: 20, f: '190'}, 20],
          ['Bob',   {v: 5,  f: '120'},  5]
        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: true, width: '80%', height: '100%'});
      }
    </script>
</head>
<body>
    <h1>Рейтинг</h1>
    <p>Рейтинг составляется по результатам набора в режиме "тренировка / training" </p>
    <div id="table_div"></div>

    
</body>
</html>